<div class="jumbotron">
    <div class="row justify-content-center align-middle mt-5">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Edutuj Dane</h2>
                    <div class="alert alert-warning text-center" role="alert" ng-if="message">
                        <p><b>{{ message }}</b></p>
                    </div>
                </div>
                <div class="card-body">
                    <form ng-submit="updateUser()">
                        <div class="row">
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="input.name" placeholder="Imię">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="input.surname" placeholder="Nazwisko">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <input type="text" class="form-control" ng-model="input.company" placeholder="Nazwa firmy">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <input type="text" class="form-control" ng-model="input.address" placeholder="Adres, ulica, numer domu, lokal">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="input.code" placeholder="Kod pocztowy">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="input.city" placeholder="Miasto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="input.phone" placeholder="Numer telefonu">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="input.nip" placeholder="NIP">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="input.email" placeholder="Email">
                            </div>
                            <div class="form-group col-6">
                                <input type="password" class="form-control" ng-model="input.password" placeholder="Hasło">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info btn-block">Zapisz</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
