<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">
    <img src="/static/images/logo_clear.PNG" width="170" height="50" alt="The Best Way">
    </a>


    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

    </ul>
       <form class="form-inline my-2 my-lg-0">

      <button ng-click="go_contact()" class="btn btn-outline-success my-2 my-sm-0" type="submit"> Kontakt</button>
    </form>
  </div>
</nav>

<div class="jumbotron">
    <div class="row justify-content-center align-middle mt-5">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Rejestracja</h2>
                    <div class="alert alert-warning text-center" role="alert" ng-if="message">
                        <p><b>{{ message }}</b></p>
                    </div>
                </div>
                <div class="card-body">
                    <form ng-submit="register()">
                        <div class="row">
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="input.name" placeholder="Imię">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="input.surname" placeholder="Nazwisko">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <input type="text" class="form-control" ng-model="input.company" placeholder="Nazwa firmy">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <input type="text" class="form-control" ng-model="input.address" placeholder="Adres, ulica, numer domu, lokal">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="input.code" placeholder="Kod pocztowy">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="input.city" placeholder="Miasto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="input.phone" placeholder="Numer telefonu">
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" ng-model="input.nip" placeholder="NIP">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <input type="email" class="form-control" ng-model="input.email" placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <input type="text" class="form-control" ng-model="input.login" placeholder="Login">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <input type="password" class="form-control" ng-model="input.password1" placeholder="Hasło">
                            </div>
                            <div class="form-group col-6">
                                <input type="password" class="form-control" ng-model="input.password2" placeholder="Powtórz hasło">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info btn-block">Zarejestruj</button>
                        <a class="btn btn-link" href="#">Zaloguj się</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
