<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">
    <img src="/static/images/logo_clear.PNG" width="170" height="50" alt="The Best Way">
    </a>


    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

    </ul>
       <form class="form-inline my-2 my-lg-0">

      <button ng-click="go_contact()" class="btn btn-outline-success my-2 my-sm-0" type="submit"> Kontakt</button>
    </form>
  </div>
</nav>

<div class="jumbotron">
    <div class="container">
    <div class="row justify-content-center">
    <h1 class="display-3 text-center text-bold font"><strong>THE BEST WAY</strong> </h1>
        <h3 class="display-4 text-center ">Application supporting route determination in a logistics company<br><br></h3>
    </div>
       <div class="row justify-content-center align-middle mt-4">
           <p class="lead text-justify text-center">Przegląd narzędzi inżynierski oraz aplikacji przeznaczonych do wyznaczenia tras przejazdu. Projekt bazy przeznaczonej do przechowywania danych firmy logistycznej. Projekt i implementacja aplikacji wspomagającej wyznaczanie tras dla wybranej firmy logistycznej. Testowanie utworzonej aplikacji.</p>
       </div>


    <div class="row justify-content-center align-middle mt-4">
               <div class="col-lg-10 align-self-end">
            <br><br>
          <h1 class="text-uppercase text-grey  text-center">Choose Your The Best Way</h1>
          <hr class="divider my-4">
            <br> <br>
        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Logowanie</h2>
                    <div class="alert alert-warning text-center" role="alert" ng-if="message">
                        <p><b>{{ message }}</b></p>
                    </div>
                </div>
                <div class="card-body">
                    <form ng-submit="signIn()">
                        <div class="form-group">
                            <label>Login</label>
                            <input type="text" class="form-control" ng-model="input.login" placeholder="Twój login">
                        </div>

                        <div class="form-group">
                            <label>Hasło</label>
                            <input type="password" class="form-control" ng-model="input.password" placeholder="Twoje hasło">
                        </div>

                        <a class="btn btn-link" href="/#!/register">Nie masz konta? Zarejestruj się</a>
                        <button type="submit" class="btn btn-info btn-block">Zaloguj się</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>