.map-container{
    height: 100%;
    width: 100%;
    max-height: 700px;
}
#map-description{
    width: 100%;
}
#map-description-text p{
    margin-bottom: 0.1rem;
}
#map-description-text{
    padding: 0.4rem 1.25rem;
}
#map {
    height: 100%;
    width: 100%;
}

.delete-btn{
    font-weight: bold;
    font-size:22px;
    color: red;
    cursor: pointer;
}
