<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="navigation">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> </span>
  </button>
  <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
         <a class="navbar-brand" href="#">
    <img src="/static/images/logo_clear.PNG" width="170" height="50" alt="The Best Way">
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
        <li></li>
      <li class="nav-item" ng-class="isActive( '/site/make-way')">
        <a class="nav-link" href="/#!/site/make-way">Wyznacz trasę <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" ng-class="isActive( '/site/show-ways')">
        <a class="nav-link" href="/#!/site/show-ways">Zapisane trasy</a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle cursor-pointer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/#!/site/edit-user">Edytuj dane</a>
            <div class="dropdown-divider"></div>
                <span class="dropdown-item cursor-pointer" ng-click="logout()" >Wyloguj się</span>
            </div>
        </li>
    </ul>
  </div>
</nav>
