<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">
    <img src="/static/images/logo_clear.PNG" width="170" height="50" alt="The Best Way">
    </a>


    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

    </ul>
      <div>
          <a class="navbar-brand" href="#"><span>ZALOGUJ</span></a>
      </div>
  </div>
</nav>

<div class="jumbotron">
<section class="mb-4">


 <!--Section heading-->
    <div class="container">
    <div class="row justify-content-center">
        <h1 class="display-4 text-center text-bold font"><strong>Skontaktuj się z nami<br></strong> </h1>
        <h2 class="display-4 text-center ">Ponieważ chcesz pracować z najlepszymi! <br><br> </h2>
</div>
         <div class="row justify-content-center align-middle mt-4">
               <div class="col-lg-8 align-self-end">

          <p class="lead text-justify text-center">Jeżeli jesteś zainteresowany współpracą przy rozwoju aplikacji optymalizacji tras - Zapraszamy do wspólpracy. Napisz do nas!</p>
          <hr class="divider my-4">
            <br> <br>
        </div>


</div>
    <div class="row justify-content-center">
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>San Francisco, CA 94126, USA</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 01 234 567 89</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>kontakt@tbw.com</p>
                </li>
            </ul>
        </div>
    </div>
        <!--Grid column-->

    </div>

</section>
</div>