<div class="container map-container mt-4">
    <div class="row map-container">
        <div class="col-8" id="map">
        </div>
        <div class="col-4">
            <div class="alert alert-info text-center" role="alert">
                <p><b>Długość trasy:</b> {{ map.fullDistance }}km</p>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="alert alert-warning text-center" role="alert" ng-if="message">
                    <p><b>{{ message }}</b></p>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="map.name" placeholder="Nazwa trasy">
                </div>
                <div class="form-group">
                    <input id="add-start" type="text" class="form-control" ng-model="map.start.input"" placeholder="Początek trasy">
                </div>
                <div class="form-group">
                    <input id="add-end" type="text" class="form-control" ng-model="map.end.input" placeholder="Koniec trasy">
                </div>
                <button type="submit"  ng-click="saveWay()" class="btn btn-info btn-block mt-2">Zapisz</button>
              </div>
            </div>
            <div class="card mt-2">
              <div class="card-body">
                <div class="form-group">
                    <input id="add-waypoint" type="text" class="form-control" ng-model="map.waypoint.input" placeholder="Dodaj punkt">
                    <button type="submit"  ng-click="addWaypoint()" class="btn btn-info btn-block mt-2">Dodaj punkt</button>
                </div>
              </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                    <div class="alert alert-info text-center" role="alert">
                      <span class="alert-link">Dodatkowe punkty</span>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li ng-repeat="waypoint in waypoints" class="list-group-item"><span ng-click="removeWaypoint($index)" class="delete-btn mr-1">&times;</span>{{ waypoint.formatted_address | limitTo: 30 }}{{waypoint.formatted_address.length > 20 ? '...' : ''}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2" id ="map-description">
        <div id="map-description-text" ng-repeat="part in map.parts" class="col-8 alert alert-info" role="alert">
            <p><b>Przystanek: </b>{{ $index+1 }}<b class="ml-2">Dystans: </b>{{ part.distance.text }}</p>
            <p><b>Start: </b>{{ part.start_address}}</p>
            <p><b>Koniec: </b>{{ part.end_address}}</p>
        </div>
    </div>

</div>

