<div class="container map-container mt-4">
    {{ way.name }} - {{ getDate(way.created) }}
    <div class="row map-container">
        <div class="col-8" id="map"></div>
        <div class="col-4">
            <div class="alert alert-info text-center" role="alert">
                <p><b>Długość trasy:</b> {{ way.full_distance }}km</p>
            </div>
            <button ng-click="showParts()" ng-if="state" type="button" class="btn btn-info btn-block mt-2">Pokaż przystanki</button>
            <div id="map-description-text" ng-repeat="part in way.parts" class="alert alert-info" role="alert">
                <p><b>Przystanek: </b>{{ $index+1 }}<b class="ml-2">Dystans: </b>{{ part.distance.text }}</p>
                <p><b>Start: </b>{{ part.start_address}}</p>
                <p><b>Koniec: </b>{{ part.end_address}}</p>
            </div>
        </div>
    </div>
</div>

