<div class="container map-container" >
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa Trasy</th>
                <th scope="col">Data</th>
                <th scope="col">Punkt Startowy</th>
                <th scope="col">Punkt Końcowy</th>
                <th scope="col">Długość Trasy</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="way in waysList">
                <th scope="row">{{ $index+1 }}</th>
                <td><a href="/#!/site/show-way/{{ way.id }}">{{ way.name }}</a></td>
                <td>{{ getDate(way.created) }}</td>
                <td>{{ way.start }}</td>
                <td>{{ way.end }}</td>
                <td>{{ way.full_distance }}km</td>
            </tr>
        </tbody>
    </table>
</div>

